# Build folders
bin/
obj/

# Visual Studio files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider / VS Code
.idea/
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Publish folder
publish/

# Others
*.cache
*.tmp

# DB Configuration files
appsettings.json
